.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index-modal);

    width: 0;
    height: 0;
    overflow: hidden;

    transition: background-color .15s;

    &--active {
        display: flex;
        justify-content: center;
        align-items: center;
    
        width: 100vw;
        height: 100vh;
    
        background-color: rgba(0, 0, 0, 0.3);
    }
}

.modal__wrapper {
    position: relative;

    max-width: 570px;
    width: 100%;
    max-height: calc(100vh - 96px);
    overflow-y: auto;
    padding: 25px;
    margin: 0 auto;
    transform: scale(1.5);

    background-color: rgb(255, 255, 255);
    opacity: 0;

    transition: transform .15s .1s, opacity .1s .1s;

    .modal--active & {
        transform: scale(1);
        opacity: 1;
    }
}

.modal__btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
}