doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Components
        link(rel="stylesheet", href="./public/styles/index.min.css")
    body
        include ../includes/layout/header.pug

        main.container
            ul.components-list
                li.components-list__item
                    a.components-list__item-link Модальное окно



        script(src="./public/scripts/index.min.js") 
