doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Component modal
        link(rel="stylesheet", href="../public/styles/modal.min.css")

    body 
        include ../../../blocks/modal/modal

        include ../../includes/layout/header.pug

        main.container
            article.content
                //- h1.title Модальное окно
                //- p Окно которое блокирует работу пользователя с родительским приложением до тех пор, пока пользователь это окно не закроет.


                //- h2.subtitle Описание работы модального окна
                //- ul 
                //-     li Закрытие модального окна при щелчке на оверлее
                //-     li Закрытие модального окна при нажатии кнопки 'Esc'
                //-     li Захват фокуса вкладки в модальном окне
                //-     li Сохранение положения фокуса до и после переключения модального режима
                //-     li Фокусировка на модальном окне

                //- h2.subtitle Пример использования
                //- code &lt;div&gt; test &lt;/div&gt;

                button(
                    type="button"
                    aria-controls="myDialog"
                    data-open-modal
                ) open-modal


        +modal(
            'myDialog',
            'Заголовок',
            'Описание'
        )
            div test

        script(src="../public/scripts/index.min.js") 
           
